<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>0</key>
	<array>
		<string>ShelfView</string>
		<string>Musicians ScrollView</string>
		<string>SideMenuView</string>
		<string>TableView Editing</string>
	</array>
	<key>1</key>
	<array>
		<string>RSS Reader</string>
		<string>TabBar View</string>
		<string>Push View</string>
	</array>
	<key>2</key>
	<array>
		<string>Page View</string>
		<string>Web View</string>
	</array>
	<key>3</key>
	<array>
		<string>CollectionView</string>
		<string>Map View</string>
		<string>Weather View</string>
		<string>Camera Filter</string>
	</array>
</dict>
</plist>
